<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>fiae.app</title>
		<link rel='stylesheet' href='style.css' />
	</head>
	<body>
		<main>
			<header class='header'>
				<img src='fiae_logo.svg' class='logo prevent-select' alt='fiae.app logo' />
				<nav class='navbar'>
					<a href='#' class='discordbtn prevent-select'><img src='discord.svg' class='discord' alt='discordlogin' />Login</a>
				</nav>
			</header>
			<div class='container'>
				<div class='content'>
					<h1>Willkommen zum ultimativen Quiz-Erlebnis!</h1>
					<p>Teste dein Wissen, lerne Neues und fordere deine Freunde oder dich selbst heraus.</p>
					<p>Mit unserem Quiz kannst du:</p>
					<ul>
						<li>- aus einer Vielzahl von Themengebieten wählen (in Arbeit)</li>
						<li>- in deinem eigenen Tempo lernen</li>
						<li>- deinen Fortschritt mit Statistiken verfolgen</li>
						<li>- dich mit deinen Freunden vergleichen</li>
						<li>- neue Fragen einstellen und die Community mitgestalten</li>
					</ul>
					<button class='demo'>Demo</button>
				</div>
			</div>
			<footer>
				<p class='prevent-select'>&#169; 2024 fiae.app</p>
				<a href='https://github.com/teeque87/fiae.app' class='prevent-select'>Github</a>
			</footer>
		</main>
	</body>
</html>